body{
    background-image: url(https://img.freepik.com/free-vector/blur-floral-background_1048-1053.jpg?size=626&ext=jpg&ga=GA1.1.707848287.1681995382&semt=ais);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    margin:0px;
}